@model IEnumerable<Aiub_Hand_To_Hand_MVC.Models.Login>
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
}

<h1>@HttpContextAccessor.HttpContext.Session.GetString("Username")</h1>

<h1>@HttpContextAccessor.HttpContext.Session.GetInt32("Username1")</h1>


<p>
    <div id="PlaceholderHere"></div>

    <a asp-action="Create">Create New</a>
    <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addEmployee"
    data-url="@Url.Action("Create")">Createe</button>
</p>
<p>
    <a asp-action="UserLogin">Login</a>
</p>
<table class="table table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instutue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instutue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("EditSetting", "EditSetting", new {  id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
